**_Import libraries_**

In [1]:
import pandas as pd
import os

**_Change work folder and load *.csv files_**

In [2]:
os.chdir('D:/12.COURSERA/01.DATA')

In [3]:
df_zip = pd.read_csv('Toronto_dataset.csv')
df_zip.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A     Queen's Park                      Queen's Park

In [4]:
df_coord = pd.read_csv('Geospatial_Coordinates.csv')
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**_Rename 'Postal Code' column to match other file column name_**

In [5]:
df_coord.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [6]:
df_coord.tail()

    PostalCode   Latitude  Longitude
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

**_Merge two files based on postal code_**

In [7]:
df_yyz = pd.merge(df_zip, df_coord, on='PostalCode')

In [8]:
df_yyz.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494